<h1> The likelihood of visitor to cancel hotel booking </h1>

<p> The data below were exctracted from Kaggle's thread called 'Hotel Booking Demand'. Consisting of 32 columns and more than a thousand rows, the data were gathered to fill the 'scracity of real business data for scientific and educational purpose. </p>

<p> Speaking of purpose, this notebook seeks to identify the likelihood of the hotel bookings get cancelled. The first part of this notebook would explore the nature of this data, that is, its features, missing value, distribution, and outlier. The second part is data tranformation, that includes label encoding, missing value and outlier treatment. The third part of it would create an accurate model to fulfill the very purpose of the notebook </p>

Source: 
    <li> [Journal Article](https://www.sciencedirect.com/science/article/pii/S2352340918315191 "Hotel Booking Demand dataset") </li>
    <li> [Kaggle's Link](https://www.kaggle.com/jessemostipak/hotel-booking-demand "Kaggle Dataset") </li>

In [12]:
import pandas as pd
import os

directory = os.getcwd()
df = pd.read_csv(directory + '/Practice - 5/hotel_bookings.csv')

df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [13]:
def missing_values():
    data = df.isnull().sum()
    data = pd.DataFrame(data)
    data.reset_index(level = 0, inplace = True)
    data.columns = ['Variable Name', 'Missing Value']
    data = data.sort_values(by = 'Missing Value', ascending = False)
    return data

missing_values()

                     Variable Name  Missing Value
24                         company         112593
23                           agent          16340
13                         country            488
10                        children              4
19              reserved_room_type              0
20              assigned_room_type              0
21                 booking_changes              0
22                    deposit_type              0
0                            hotel              0
17          previous_cancellations              0
25            days_in_waiting_list              0
26                   customer_type              0
27                             adr              0
28     required_car_parking_spaces              0
29       total_of_special_requests              0
30              reservation_status              0
18  previous_bookings_not_canceled              0
16               is_repeated_guest              0
1                      is_canceled              0
15            distribution_channel              0
14                  market_segment              0
12                            meal              0
11                          babies              0
9                           adults              0
8             stays_in_week_nights              0
7          stays_in_weekend_nights              0
6        arrival_date_day_of_month              0
5         arrival_date_week_number              0
4               arrival_date_month              0
3                arrival_date_year              0
2                        lead_time              0
31         reservation_status_date              0

In [3]:
for col in list(df):
    print(col)
    print(df[col].drop_duplicates())

hotel
0        Resort Hotel
40060      City Hotel
Name: hotel, dtype: object
is_canceled
0    0
8    1
Name: is_canceled, dtype: int64
lead_time
0         342
1         737
2           7
3          13
4          14
         ...
73640     521
74234     377
79221     444
80575     380
117040    463
Name: lead_time, Length: 479, dtype: int64
arrival_date_year
0       2015
3738    2016
9775    2017
Name: arrival_date_year, dtype: int64
arrival_date_month
0            July
842        August
1485    September
2087      October
2835     November
3271     December
3738      January
3864     February
4275        March
4803        April
5521          May
6275         June
Name: arrival_date_month, dtype: object
arrival_date_week_number
0       27
131     28
307     29
538     30
707     31
870     32
984     33
1150    34
1295    35
1445    36
1609    37
1756    38
1891    39
2008    40
2170    41
2385    42
2459    43
2685    44
2835    45
2958    46
3084    47
3233    48
3266    49
3427    50
3459    51
3503    52
3622    53
3738     1
3771     2
3813     3
3830     4
3845     5
3863     6
3927     7
4116     8
4163     9
4266    10
4353    11
4406    12
4482    13
4670    14
4817    15
4941    16
5094    17
5280    18
5521    19
5649    20
5834    21
6039    22
6226    23
6355    24
6448    25
6586    26
Name: arrival_date_week_number, dtype: int64
arrival_date_day_of_month
0       1
33      2
65      3
100     4
131     5
160     6
193     7
210     8
230     9
248    10
280    11
307    12
346    13
386    14
408    15
434    16
459    17
508    18
538    19
566    20
599    21
611    22
618    23
633    24
665    25
707    26
722    27
760    28
774    29
794    30
814    31
Name: arrival_date_day_of_month, dtype: int64
stays_in_weekend_nights
0         0
20        1
21        2
30        4
51        3
87        6
1655     13
1790      8
2516      5
2697      7
3820     12
5344      9
9839     16
14037    18
14038    19
20835    10
54704    14
Name: stays_in_weekend_nights, dtype: int64
stays_in_week_nights
0          0
2          1
4          2
8          3
10         4
24         5
30        10
31        11
32         8
79         6
80         7
87        15
277        9
1149      12
1655      33
1790      20
2696      14
2698      16
3280      21
3459      13
3820      30
3878      19
5344      24
9839      40
10385     22
14037     42
14038     50
20835     25
32428     17
32589     32
35059     26
46630     18
54704     34
88017     35
101794    41
Name: stays_in_week_nights, dtype: int64
adults
0        2
2        1
34       3
125      4
1539    40
1587    26
1643    50
1917    27
2173    55
2224     0
2228    20
2229     6
2231     5
2417    10
Name: adults, dtype: int64
children
0         0.0
13        1.0
45        2.0
328      10.0
6748      3.0
40600     NaN
Name: children, dtype: float64
babies
0         0
109       1
264       2
46619    10
78656     9
Name: babies, dtype: int64
meal
0              BB
7              FB
9              HB
1655           SC
3106    Undefined
Name: meal, dtype: object
country
0         PRT
2         GBR
12        USA
13        ESP
15        IRL
         ...
113817    KIR
113912    SDN
115334    ATF
117399    SLE
117943    LAO
Name: country, Length: 178, dtype: object
market_segment
0               Direct
3            Corporate
4            Online TA
9        Offline TA/TO
125      Complementary
413             Groups
40600        Undefined
49013         Aviation
Name: market_segment, dtype: object
distribution_channel
0           Direct
3        Corporate
4            TA/TO
14594    Undefined
43284          GDS
Name: distribution_channel, dtype: object
is_repeated_guest
0        0
13937    1
Name: is_repeated_guest, dtype: int64
previous_cancellations
0         0
13805     1
13951     2
14231     3
14779    26
14829    25
14885    14
14922     4
14972    24
14997    19
25712     5
73714    21
76716     6
77339    13
80028    11
Name: previous_cancellations, dtype: int64
previous_bookings_not_canceled
0         0
13803     1
13804     2
13805     3
13851     4
         ..
76727    68
76728    69
76729    70
76730    71
76731    72
Name: previous_bookings_not_canceled, Length: 73, dtype: int64
reserved_room_type
0        C
2        A
9        D
10       E
13       G
20       F
54       H
354      L
4127     P
15796    B
Name: reserved_room_type, dtype: object
assigned_room_type
0        C
3        A
9        D
10       E
13       G
20       F
24       I
48       B
54       H
4127     P
14381    L
40455    K
Name: assigned_room_type, dtype: object
booking_changes
0          3
1          4
2          0
13         1
30         2
187        5
1655      17
2881       6
9091       8
9098       7
9102      10
9106      16
23549      9
23784     13
23849     12
41020     20
51919     14
51952     15
76985     11
88017     21
111682    18
Name: booking_changes, dtype: int64
deposit_type
0       No Deposit
1559    Refundable
2133    Non Refund
Name: deposit_type, dtype: object
agent
0           NaN
3         304.0
4         240.0
7         303.0
9          15.0
          ...
111709    459.0
111920    474.0
112418    475.0
113405    480.0
118081    449.0
Name: agent, Length: 334, dtype: float64
company
0           NaN
18        110.0
295       113.0
387       270.0
450       178.0
          ...
113627    229.0
114468    481.0
115262    497.0
117065    451.0
117157    492.0
Name: company, Length: 353, dtype: float64
days_in_waiting_list
0           0
2272       50
2486       47
3106       65
3648      122
         ...
99062      81
99880      92
100129     74
103568    167
111978     36
Name: days_in_waiting_list, Length: 128, dtype: int64
customer_type
0            Transient
16            Contract
47     Transient-Party
539              Group
Name: customer_type, dtype: object
adr
0           0.00
2          75.00
4          98.00
6         107.00
7         103.00
           ...
119351    134.82
119357     91.02
119365    266.75
119376    209.25
119387    157.71
Name: adr, Length: 8879, dtype: float64
required_car_parking_spaces
0        0
25       1
140      2
29045    8
38117    3
Name: required_car_parking_spaces, dtype: int64
total_of_special_requests
0       0
4       1
12      3
27      2
862     4
7860    5
Name: total_of_special_requests, dtype: int64
reservation_status
0      Check-Out
8       Canceled
122      No-Show
Name: reservation_status, dtype: object
reservation_status_date
0        2015-07-01
2        2015-07-02
4        2015-07-03
8        2015-05-06
9        2015-04-22
            ...
73714    2014-10-17
74654    2015-01-20
74729    2015-02-17
74754    2015-03-10
74781    2015-03-23
Name: reservation_status_date, Length: 926, dtype: object

In [26]:
df_clean = df.drop(['agent', 
                    'arrival_date_week_number', 
                    'arrival_date_year', 
                    'company', 'previous_bookings_not_canceled', 
                    'reservation_status', 
                    'reservation_status_date',
                    'stays_in_week_nights'
                   ], axis = 1)

df_clean.loc[df_clean['stays_in_weekend_nights'] == 0, 'stays_in_weekend_nights'] = 1
df_clean.loc[df_clean['stays_in_weekend_nights'] > 0, 'stays_in_weekend_nights'] = 0

df_clean.head()

,hotel,is_canceled,lead_time,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,adults,children,babies,meal,...,previous_cancellations,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests
0,Resort Hotel,0,342,July,1,0,2,0.0,0,BB,...,0,C,C,3,No Deposit,0,Transient,0.0,0,0
1,Resort Hotel,0,737,July,1,0,2,0.0,0,BB,...,0,C,C,4,No Deposit,0,Transient,0.0,0,0
2,Resort Hotel,0,7,July,1,0,1,0.0,0,BB,...,0,A,C,0,No Deposit,0,Transient,75.0,0,0
3,Resort Hotel,0,13,July,1,0,1,0.0,0,BB,...,0,A,A,0,No Deposit,0,Transient,75.0,0,0
4,Resort Hotel,0,14,July,1,0,2,0.0,0,BB,...,0,A,A,0,No Deposit,0,Transient,98.0,0,1